# PLOTS
Zeus Elderfield

## Instructions:

You are given three datasets:

bar_assignment.csv
sankey_assignment.csv
networks_assignment.csv


General Instructions : Use the same font and font size for all graphs.
Instructions:

a. For Bar Graph:

Create a horizontal stacked bar chart
Transform 1 into “Yes” and 0 into “No”
Follow the plot specification for bar plot

b. For Sankey Diagram:

Create a Sankey Diagram that connects ('PS', 'OMP', 'CNP', 'NRP', 'NMCCC', 'PEC', 'NCDM', 'RGS') to the LABELS to ('Reg', 'Aca', 'Oth')
Follow the Path Specifications


C. Network Graph

Create the network graph
D,F,I,N,S should created as a pentagram located at the center of the graph showing connection with each other.
The others should be outside of the the pentagram, still showing connections to other nodes.
The node color should be:

Blue: [D,F,I,N,S], Green: ['BIH', 'GEO', 'ISR', 'MNE', 'SRB', 'CHE', 'TUR', 'UKR', 'GBR', 'AUS', 'HKG', 'USA’], Yellow: ['AUT', 'BEL', 'BGR', 'HRV', 'CZE', 'EST', 'FRA', 'DEU', 'GRC', 'HUN', 'IRL', 'ITA', 'LVA', 'LUX', 'NLD', 'PRT', 'ROU', 'SVK', 'SVN', 'ESP']


Finally you are required to collate the separate graph into one single graph for printing, the single graph should be visible when copy pasted in a long bond paper.

### Import Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Set Global variables & seed

In [13]:
np.random.seed(42)

DATASET_PATH = './datasets/'

### Import datasets

In [8]:
bar_df = pd.read_csv(DATASET_PATH + 'bar_assignment.csv')

bar_df.tail()

   LABEL  COUNT
17     S      0
18     S      0
19     S      0
20     S      1
21     S      0

In [9]:
sankey_df = pd.read_csv(DATASET_PATH + 'sankey_assignment.csv')

sankey_df.tail()

  LABEL  PS  OMP  CNP  NRP  NMCCC  PEC  NCDM  RGS  Reg  Aca  Oth
0     S   3    4    1    1      0    0     1    1    2    7    1
1     F   0    1    2    1      1    0     0    1    2    2    0
2     D   1    1    2    0      0    0     1    1    1    3    1
3     N   1    1    1    1      0    1     1    0    2    2    1
4     I   0    1    0    0      0    0     0    0    0    1    0

In [12]:
networks_df = pd.read_csv(DATASET_PATH + 'networks_assignment.csv')

networks_df.tail()

,LABELS,NOR,DNK,FIN,ISL,SWE,AUT,BEL,BIH,BGR,...,SVK,SVN,ESP,CHE,TUR,UKR,GBR,AUS,HKG,ASU
0,D,3,0,3,1,3,0,0,0,0,...,0,0,1,0,0,0,2,0,0,1
1,F,1,2,0,1,1,0,1,0,0,...,1,1,2,1,0,0,2,0,0,0
2,I,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,N,0,2,2,1,2,0,0,0,0,...,0,0,1,0,0,0,2,1,0,1
4,S,5,4,3,3,0,2,2,2,2,...,0,0,2,2,2,2,3,1,1,1

### A. Bar Graph

### B. Sankey Diagram

### C. Network Graph